
<%-include("../layout/layout.ejs")%>




<div class="container container-contact bootstrap snippets bootdeys bootdey mt-3">
    <div class="row decor-default">
        <div class="col-md-12">
          <div class="contact">
            <div class="controls">
              <span class="icon icon-folder" data-toggle="tooltip" data-placement="top" title="" data-original-title="Archive"></span>
              <span class="icon icon-delete" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"></span>
              <span class="icon icon-close" data-toggle="tooltip" data-placement="top" title="" data-original-title="Close"></span>
              <span class="write" data-toggle="tooltip" data-placement="top" title="" data-original-title="New"></span>
              
              
            </div>
    
            <div class="row">
              <div class="col-md-4 col-md-5 col-xs-12">
                <h2><%=title%></h2>
              </div>
              <div class="col-lg-8 col-md-7 col-xs-12">
                <p class="contact-description">
                    <%=uzunyazi%>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>



<%-include("../include/footer.ejs")%>